.card-heading {
  text-align: center;
  margin: 2rem;
}

.card-heading .card-name {
  font-size: 3rem;
}

.card-heading .card-date {
  font-size: 1.5rem;
}

.card-image-wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-image-wrapper {
  height: 500px;
  width: 800px;
  margin: 3rem;
}

.desktop-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.mobile-image-wrapper {
  position: relative;
}

.mobile-image {
  width: 276px;
  height: 555px;
  background: white;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.mobile-overlay {
  position: absolute;
  width: 258px;
  height: 430px;
  margin: 58px 6px;
  overflow: hidden;
}

.card-description {
  text-align: center;
}

.card-description .card-body-heading {
  font-size: 3rem;
  margin: 2rem;
}

.card-description p {
  font-size: 1.5rem;
}

.card-skills {
  font-size: 2rem;
}

.github-button,
.website-button {
  padding: .5rem 1rem;
  margin: 2.5rem 2rem;
  background-color: red;
  border-radius: 1rem;
  border: 2px solid white;
  font-size: 1.3rem;
}

.github-button:hover,
.website-button:hover {
  background: transparent;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.button-link {
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .card-image-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desktop-image-wrapper {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .desktop-image-wrapper {
    width: 450px;
  }
  .card-skills {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .card-heading .card-name {
    font-size: 2rem;
  }
  .card-heading .card-date {
    font-size: 1rem;
  }
  .desktop-image-wrapper {
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .desktop-image-wrapper.desktop-image-1 {
    background-image: url("../../public/images/gateway.png");
  }
  .desktop-image-wrapper.desktop-image-2 {
    background-image: url("../../public/images/katf.png");
  }
  .desktop-image-wrapper.desktop-image-3 {
    background-image: url("../../public/images/newsoutlet.png");
  }
  .desktop-image-wrapper.desktop-image-4 {
    background-image: url("../../public/images/ecom.png");
  }
  .desktop-image-wrapper.desktop-image-5 {
    background-image: url("../../public/images/tesla.png");
  }
  .desktop-image-wrapper .desktop-image {
    display: none;
  }
  .card-description .card-body-heading {
    font-size: 2rem;
    margin: 2rem;
  }
  .card-description p {
    font-size: 1rem;
  }
  .card-skills {
    font-size: 1.1rem;
  }
  .github-button,
  .website-button {
    margin: 1.5rem 1rem;
  }
}
/*# sourceMappingURL=Card.css.map */