header {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    position: fixed;
    margin-top: .5rem;
}

.slider {
    width: 100%;
    transition: 1s ease;
}


.slider ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

.slider ul li {
    margin-block: 1rem;
    margin-inline: 1rem;
    list-style: none;
}

.slider ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

.menu-icon,
.menu {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.closed {
    display: none;
    cursor: pointer;
    justify-content: flex-start;
    width: 100%;
}

.closed .close {
    font-size: 30px;
}


@media (max-width: 900px) {
    .slider {
        position: fixed;
        min-width: 100%;
        height: 100vh;
        top: -100%;
        background-color: rgba(8, 112, 184, 1);
        transition: 1s ease;
        z-index: 2;
    }

    .slider-active {
        top: 0;
        transition: .3s ease-in;
        /* transition: .3s ease-out; */
    }

    .slider ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider ul li {
        margin-block: 2.5rem;
        list-style: none;
    }

    .slider ul li a {
        font-size: 1.5rem;
        text-decoration: none;

    }

    .menu-icon,
    .menu {
        display: block;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .closed {
        display: flex;
        cursor: pointer;
        justify-content: flex-start;
        width: 100%;
    }

    .closed .close {
        font-size: 30px;
    }
}